<div class="section">
<center>
<h1>create a profile</h1>
<p>to make and view a profile, click on the button below.</p>
<a href="http://localhost:3000/animals/new"><button>new profile</button></a>
</div>
