<div class="section">
<center>
<h1><%= @animal.name %></h1>
<span> <%= @animal.location %> </span>

<p>
  <%= @animal.name%> is <%= @animal.age%> years old.
</p>
<br><br><br><br><br><br>
<a href="http://localhost:3000/animals/new"><button>create a new profile</button></a>
<a href="http://localhost:3000/animals"><button>home</button></a>
</div>
