<% provide(:title, "About") %>
<h1 class="h1-about-page">How it works</h1>
<p class="p-about-page">
  Block Barter scrapes CoinMarketCap for the top hundred cryptocurrencies of the day. Then, it searches that scraped data for currencies that match the requirements that the user inputs on their dashboard page. Block Barter uses its own database of information about mining to determine how each individual cryptocurrency is mined. It then outputs those on your user dashboard.
</p>
<br>
