<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet congue mauris. Suspendisse lobortis lacus vel nunc placerat sagittis. Sed vel justo at diam placerat dignissim in rhoncus erat. Nulla facilisi. Quisque quis purus sed felis condimentum convallis. Sed faucibus ipsum sit amet ligula hendrerit, nec pretium diam ornare. Sed convallis tellus eu magna dapibus, eu rutrum tellus iaculis. Maecenas mattis egestas ligula, vitae lobortis sem egestas ac. Etiam ante massa, blandit nec eleifend vulputate, eleifend a orci. Duis facilisis vehicula est, viverra lacinia enim fringilla non. Donec hendrerit, magna in consequat consequat, nibh dui fermentum ligula, eu sagittis libero lectus sit amet odio.
</p>
