<% provide(:title, "Help") %>
<center><h1 class="h1-about-page">Support</h1></center>
<br><br>
<table class="currency-container">
  <tr class="currency-row">
    <td class="currency">
      <h2 id="1" class="currency-header">How do you source your currency information?</h2>
      <div id="currency-info">
        <div class="dots"></div>
        <span id="2">The current financial information is sourced from CoinMarketCap,
        and mining information is from the websites of the individual cryptocurrencies. Some
        mining information is also sourced from cryptocurrency newsletters.</span>
      </div>
    </td>
    <td class="currency-break"></td>
    <td class="currency-desc">
      <h2 class="currency-dec-header">Why is there only one token displaying?</h2>
      <div class="desc-dots"></div>
      <div class="currency-desc-info" id="currency-desc-info1">There is currently
      only one token in the top 100 cryptocurrencies on the market, and that is
      the one displaying. Our algorithm only uses the first 100 currencies,
      so that's why only one shows up.</div>
    </td>
  </tr>

  <tr class="currency-row-break"></tr>

  <tr class="currency-row">
    <td class="currency-desc">
      <h2 class="currency-dec-header">What are the default currency settings?</h2>
      <div class="desc-dots"></div>
      <div class="currency-desc-info" id="currency-desc-info5">The currencies displayed
      when you log in are the top four currencies currently in the market. You have to
      use the filters at the top of your dashboard to filter results.</div>
    </td>
    <td class="currency-break"></td>
    <td class="currency">
      <h2 id="5" class="currency-header">What can I do if I have issues?</h2>
      <div id="currency-info">
        <div class="dots"></div>
        <span id="6">You can contact the developers at ogsteger@gmail.com or
        at noahb930@gmail.com. We appreciate any feedback on the interface.</span>
      </div>
    </td>
  </tr>

</table>

<br><br><br><br><br>
