<script>
  function redirect() {
    window.location.href="signup";
  }
</script>
<style>
#img {
    background-image: url('https://i.imgur.com/39QDK9c.png');
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: 600px center;
  }
</style>
<div id="img">
<% provide(:title, "") %>
<div class="info-container">
  <h1 class="big-text">Cryptocurrency <br>for everyone</h1>
  <h2 class="small-text">MINING SIMPLIFIED</h2>
  <p class="info-text">
    Blockchain is hard to understand, and even harder to invest in. Make an account to
    learn how you can create the most efficient mining system for your favorite cryptocurrency
  </p>
  <button class="info-button" onclick="redirect()">GET STARTED</button>
</div>
</div>
<br><br><br><br><br><br><br>
