<center>
<div id="container">
  <%= image_tag("/imageone.jpg", :alt => "image one") %>
  <p class="caption">marble statue of a youth</p>
  <%= image_tag("/imagetwo.jpg", :alt => "image two") %>
  <p class="caption">michaelangelo's david</p>
</div>
